.admin-dashboard-updateproduct{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.admin-dashboard-updateproduct-form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
    color:  #273746;
}

.admin-dashboard-updateproduct-heading{
    position: relative;
    margin-bottom: 40px;

}

.admin-dashboard-updateproduct-heading h2{
    border-bottom: 4px solid tomato;
    padding-bottom: 7px;
}


.admin-dashboard-updateproduct-name, .admin-dashboard-updateproduct-price, .admin-dashboard-updateproduct-stock{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0px;
    padding: 13px 20px;
    gap: 10px;
    width: 40%;
    height: 25px;;
    border-bottom: .4px solid #273746;
    transition: all 400ms;
}

.admin-dashboard-updateproduct-name input{
    border: none;
    outline: none;
    font-size: 17px;
    width: 100%;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
}

.admin-dashboard-updateproduct-name:hover{
    border-bottom: 2px solid tomato;
    transform: scale(1.06);
}




.admin-dashboard-updateproduct-price input{
    border: none;
    outline: none;
    font-size: 17px;
    width: 100%;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
}
.admin-dashboard-updateproduct-price:hover{
    border-bottom: 2px solid tomato;
    transform: scale(1.06);
}




.admin-dashboard-updateproduct-stock input{
    border: none;
    outline: none;
    font-size: 17px;
    width: 100%;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
}

.admin-dashboard-updateproduct-stock:hover{
    border-bottom: 2px solid tomato;
    transform: scale(1.06);
} 


.admin-dashboard-updateproduct-description{
    position: relative;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 20px;
    border-bottom: 1px solid #273746;
}

.admin-dashboard-updateproduct-description textarea{
    width: 100%;
    height: 130px;
    outline: none;
    border: none;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 17px;
    color: #273746;
}

.admin-dashboard-updateproduct-categories{
    width: 40%;
    border-bottom: 1px solid #273746;
    padding: 13px 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.admin-dashboard-updateproduct-categories select{
    outline: none;
    border: none;
    color: #6f6f6f;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
    font-weight: 500;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: 497px;
    background-size: 26px;
    width: 40%;
}

#createProductFormFile{
    position: relative;
    width: 40% !important;
    padding: 13px 20px;
    border-bottom: 1px solid #273746;
}

#createProductFormFile > input::file-selector-button{
    cursor: pointer;
    background-color: #273746;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    border: none;
    padding: 13px 20px;
    font-size: 17px;
    border-radius: 4px;
    transition: all 500ms;
}

#createProductFormFile > input::file-selector-button:hover{
    background-color: #E74C3C;
}

#createProductFormImage{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    padding: 13px 20px;
    /* border-bottom: 1px solid #273746; */
}



#createProductFormImage img{
    width: 20%;
    padding: 0px 4px;
}

#oldProductFormImage{
    background-color: black;
    height: 40px;
}

.admin-dashboard-updateproduct-btn{
    background-color: #273746;
    border-radius: 30px;
    border:none;
    font-size: 18px;
    padding: 0.8vmax 4vmax;
    width: 20% !important;
    cursor: pointer;
    margin: 1vmax 4vmax;
    color: white !important;
    transition: all 500ms;
}

.admin-dashboard-updateproduct-btn:hover{
    background-color: tomato;
    transform: scale(1.06);
}

@media screen and (max-width: 1055px) {
    .admin-dashboard-updateproduct-name, .admin-dashboard-updateproduct-price, .admin-dashboard-updateproduct-stock{
        width: 70% !important;
    }

    .admin-dashboard-updateproduct-description{
        width: 70% !important;
    }

    .admin-dashboard-updateproduct-categories{
        width: 70% !important;
    }

    #createProductFormFile{
        width: 70% !important;
    }

    .admin-dashboard-updateproduct-btn{
        width: 30% !important;
    }
}