@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500;600;700;800&display=swap');


*{
    scroll-behavior: smooth;
    /* cursor: url("./images/cursor.png"), auto; */
    
}
body{
    margin: 0%;
    font-family: 'Montserrat Alternates', sans-serif;
    
}

